:root {
  background-color: #FDFFFC;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.cm-editor .cm-content {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
}

input,
button {
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
}